{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "max-len": "off",
    "no-invalid-this": "off",
    "space-before-function-paren": "off",
    "no-unused-vars": "warn"
  },
  "extends": ["google"]
}
